<h2>Listing users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
<%= Enum.map(@users, fn user -> %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.username %></td>
      <td><%= user.password %></td>
    </tr>
<% end) %>
  </tbody>
</table>

<span><%= link "New user", to: Routes.user_path(@conn, :new) %></span>
